.social_card {
  min-width: 250px;
  max-width: 250px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  margin: 30px auto;
  img {
    max-width: 100%;
  }
  .social_card_body {
    padding: 10px 20px;
    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        font-weight: bold;

        display: block;
        padding: 5px;
        font-weight: 500;
        font-size: 0.8rem;
        color: rgba(48, 89, 175, 1);
      }
    }
  }
}
h2 {
  color: orange;
}
